@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

.shine-badge {
    position: relative;
    overflow: hidden;
}

.shine-badge::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -150%;
    width: 45%;
    background: linear-gradient(110deg, transparent 0%, rgba(255, 255, 255, 0.65) 50%, transparent 100%);

    transform: skewX(-20deg);

    animation: badgeShine 9s linear infinite;
    animation-delay: 1s;

    pointer-events: none;
}

@keyframes badgeShine {
    0% {
        left: -150%;
    }

    8% {
        left: 160%;
    }

    100% {
        left: 160%;
    }
}

::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
}

body {
    -ms-overflow-style: none;
}
